<!-- HEADER -->
<header id="page-header">
  <!-- NAVBAR -->
  <div class="navbar object navbar-default">
    {{partial 'navbar'}}
  </div
  {{search-engine}}
</header>
<main id="page-main">
  {{outlet}}
</main>