<div class="row">
    <div class="col-sm-2">{{product.id}}</div>
    <div class="col-sm-2">{{product.name}}</div>
  <div class="col-sm-2">{{product.description}}</div>
  <div class="col-sm-2">{{product.categ_id.[1]}}</div>
</div>