<div class="container">
  <h2>Product List</h2>
  <ul class="list-group">
    <li class="list-group-item">
      <div class="row">
        <div class="col-sm-2"><strong>Id</strong></div>
        <div class="col-sm-2"><strong>Name</strong></div>
        <div class="col-sm-1"><strong>Description</strong></div>
        <div class="col-sm-1"><strong>Category ID</strong></div>
      </div>
    </li>
    {{model}}
    {{#each model as |item|}}
      <li class="list-group-item">
        {{product-list product=item}}
      </li>
    {{/each}}
  </ul>
</div>

